div[class*="wrapper"] { /* ///// selects all classes containing 'wrapper' ///// */
	width: 80%;
	margin: 0 auto;
}

header {
	width: 100%;
}
.wrapper_head {
	width: 100%;
	height: 10em;
}

#logo {
	float: left;
	margin-top: 1em;
}

#nav_bar {
	float: right;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	margin-top: 4em;
}
#nav_bar a {
	margin-right: 8em;
	text-decoration: none;
	color: rgb(39,67,71);
}
#nav_bar a.last { /* ///// selects last a element ///// */
	margin-right: 0
}
#banner_index {
	width: 100%;
	background-image: url(../images/map.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
	background-size: cover;
}

#banner_index h1 {
	margin-top: 0;
	padding-top: 3em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 900;
	color: white;
	text-shadow: 3px 3px 10px #000;
	font-size: 3em
}

#banner_mission {
	width: 100%;
	background-image: url(../images/cambridge_city.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
	background-size: cover;
}

#banner_contact {
	width: 100%;
	background-image: url(../images/contact_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
	background-size: cover;
}

#banner_house {
	width: 100%;
	background-image: url(../images/housing_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
	background-size: cover;
}

#about .wrapper_about, #mission .wrapper_mission, #contact-info .wrapper_contact, #house_name .wrapper_house {
	text-align: center;
	width: 70%;
	margin-top: 6em;
	color: #264348;
}
.wrapper_about h1, .wrapper_mission h1, .wrapper_contact h1, .wrapper_house h1 {
	margin-top: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: .1em;
}

.wrapper_about p, .wrapper_mission p, .wrapper_contact p, .wrapper_house p {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 2em
}

.wrapper_about button, #contact_form button#submit, .wrapper_house button {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 1.2em;
  background: #264348;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  letter-spacing: .2em;
  transition: background .25s ease;
}

.wrapper_about button:hover, #contact_form button#submit:hover {
	background: #367588;
}

#image_links {
	margin-top: 7em;
}

.wrapper_images {
	text-align: center;
}

.three-images {
	display: inline-block;
	width: 27%;
	margin: 0 2% 0 2%;
	background-color: black
}

.three-images:hover {
	opacity: .5
}

body .wrapper_form {
	margin-top: 8em;
}

#contact_form {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#contact_form h3 {
	text-align: left;
	font-family: "Source Sans Pro", sans-serif;
	margin: 1.5em 0 0.3em 0;
	color: #264348; 
}

#contact_form input, #contact_form textarea {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	width: 100%;
	clear: both;
	resize: none;
	background-color: #DDD;
	border: none;
	padding: .75em .5em;
	color: #777
}


#contact_form button#submit {
	margin-top: 1em;
}



footer .wrapper_footer {
	margin-top: 6em;
	width: 100%;
	text-align: center;
	height: 10em;
	background-color: #264348
}

footer .wrapper_footer p {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	letter-spacing: .2em;
	color: white;
	padding-top: 4.5em;
}