$main-color: rgb(39,67,71);
$alt-color: #367588;
$font: "Source Sans Pro", sans-serif;
@mixin contact-style {
		font-weight: 300;
		font-size: 1.5em;
		width: 100%;
		clear: both;
		resize: none;
		background-color: #DDD;
		border: none;
		padding: .75em .5em;
		color: #777
}
@mixin banner-style ($url) {
	width: 100%;
	background-image: $url;
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
	background-size: cover;
}

div[class*="wrapper"] { /* ///// selects all classes containing 'wrapper' ///// */
	width: 80%;
	margin: 0 auto;
}

header {
	width: 100%;
}
body {
	font-family: $font;
}
.wrapper_head {
	width: 100%;
	height: 10em;
}

#logo {
	float: left;
	margin-top: 1em;
}

#nav_bar {
	float: right;
	font-weight: 700;
	margin-top: 4em;
	a {
		margin-right: 5em;
		text-decoration: none;
		color: $main-color;
		&:hover {
			color: $alt-color;
		}
		&.last {  /* ///// selects last a element ///// */
			margin-right: 0
		}
	}
}
#banner_index {
	width: 100%;
	background-image: url(../images/map.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
	background-size: cover;
	h1 {
		margin-top: 0;
		padding-top: 3em;
		font-weight: 900;
		color: white;
		text-shadow: 3px 3px 10px #000;
		font-size: 3em
	}
}
#banner_mission {
	@include banner-style(url(../images/cambridge_city.jpg))
}

#banner_contact {
	@include banner-style(url(../images/contact_banner.jpg))
}

#banner_house {
	@include banner-style(url(../images/housing_banner.jpg))
}

#about .wrapper_about, #mission .wrapper_mission, #contact-info .wrapper_contact, #house_info .wrapper_house, #house_perks .wrapper_perks {
	text-align: center;
	width: 70%;
	margin-top: 6em;
	color: $main-color;
}
.wrapper_about h1, .wrapper_mission h1, .wrapper_contact h1 {
	margin-top: 0;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: .1em;
}

.wrapper_about p, .wrapper_mission p, .wrapper_contact p, .wrapper_house p {
	font-weight: 300;
	font-size: 1.5em;
	line-height: 2em
}

.wrapper_about button, #contact_form button#submit, .wrapper_house button {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 1.2em;
  background: $main-color;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border: none;
  font-weight: 400;
  letter-spacing: .2em;
  transition: background .25s ease;
}

.wrapper_about button:hover, #contact_form button#submit:hover, .wrapper_house button:hover {
	background: $alt-color;
}

#image_links {
	margin-top: 7em;
}

.wrapper_images {
	text-align: center;
	a {
		text-indent: -99999;
	}
}

.three-images {
	background: url(../images/housing1_thumbnail.jpg) no-repeat center;
	display: inline-block;
	width: 27%;
	height: 250px;
	margin: 0 2% 0 2%;
	transition: all .4s ease;
	.overlay {
		opacity: 0;
		width: 100%;
		height: 250px;
		background-color: $alt-color;
		transition: all .4s ease;
		p {
			margin-top: 0;
			font-weight: 700;
			padding-top: 100px;
			color: #FFF;
			font-size: 2em;
		}
		&:hover {
			opacity: .9;
		}
	}
	&:hover {
		transform: scale(1.1);
	}
}

body .wrapper_form {
	margin-top: 8em;
}

#contact_form {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	h3 {
		text-align: left;
		margin: 1.5em 0 0.3em 0;
		color: $main-color; 
	}
	input {
		@include contact-style;
	}
	textarea {
		@include contact-style;
	}
}


#contact_form button#submit {
	margin-top: 1em;
}

div[class*="3-column"] {
	display: inline-block;
	width: 25%;
	margin: 0 2%;
}

div[class*="3-column"] ul {
	padding-left: 0;
}

div[class*="3-column"] ul li {
	font-size: 1.25em;
	font-weight: 400;
	padding: .4em 0; 
	text-align: center;
	list-style-type: none;
}
footer {
	.wrapper_footer {
		margin-top: 6em;
		width: 100%;
		text-align: center;
		height: 10em;
		background-color: $main-color;
		p {
			font-weight: 400;
			letter-spacing: .2em;
			color: white;
			padding-top: 4.5em;
		}
	}
}